/** Общие стили */
html{
    font-size: 20px;
}
.block-text,
.block-title,
.form-title,
[type="number"]{
    font-family: Parisian;
   /*3rem*20px=60px*/
    font-size: 3rem;
    font-weight: 400;
    color: #57576C;
}
.gender input[type="button"]{
    font-family: Parisian;
    font-size: 1.9rem;
    font-weight: 400;
    color: #434343;
}

.block-text{
    font-family: Manrope;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.5rem;
}

.text-button,
.button input[type="button"]{
    font-family: Manrope;
    font-size: 1rem;
    font-weight: 600;
}

.form-text {
    font-family: Manrope;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.22rem;
    text-align: center;
}
.text{
    font-family: Manrope;
    font-size: 0.75rem;
    font-weight: 400;
    color: #434343;
    padding: 0.5rem;
}

