.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.shortLine {
  height: 1px;
  background-color: #f9edc3;
  flex-grow: 0.3;
}

.longLine {
  height: 1px;
  background-color: #f9edc3;
  flex-grow: 2;
}

.air {
  width: 5%
}

.button {
  z-index: 1;
}
