html,
body {
  max-width: 100vw;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

section {
  overflow: hidden;
}
/**Шрифты */
@font-face {
  font-family: Parisian;
  src: url(/fonts/ofont.ru_Parisian.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face{
  font-family: Manrope;
  src: url(/fonts/Manrope.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face{
  font-family: Manrope;
  src: url(/fonts/Manrope.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face{
  font-family: Manrope;
  src: url(/fonts/Manrope.ttf);
  font-style: normal;
  font-weight: 500;
}


@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
