.body {
  background: url(/images/icon/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100dvw;
  min-height: 100dvh;
  padding-top: 80px;
}


.section {
  padding: 60px 40px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form {
  background-color: #eee4d8;
  border: 3px solid #ffffff;
  width: 50dvw;
  padding: 30px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 2;
}

.text {
  color: #57576c;
  font-size: 22px;
  font-family: 'Manrope', Arial, sans-serif;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
}

.text p {
  color: #424242;
  font-size: 16px;
}

.char {
  scale: 0.5;
  position: absolute;
  z-index: 3;
  transition: all 100ms ease;
}

.info {
  background: url(/images/icon/fon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1157 / 459.806;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
}

.card {
  width: 100%;
  margin: auto;
}

.text_block {
  padding: 30px;
}

.dialog {
  background: url(/images/icon/dialog.svg);
  background-repeat: no-repeat;
  aspect-ratio: 371.994 / 40.026;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 20px;
}

.text1 {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Manrope', Arial, sans-serif;
  line-height: 1.34;
  font-weight: 700;
  text-transform: uppercase;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.text2 {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Manrope', Arial, sans-serif;
  line-height: 1.23;
  font-weight: 300;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.title {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Manrope', Arial, sans-serif;
  line-height: 1.27;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 2px solid #ffffff;
  margin: 20px 0 10px 0;
  padding-bottom: 10px;
}

.feature {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Manrope', Arial, sans-serif;
  line-height: 17px;
  font-weight: 400;
}


.desc {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Manrope', Arial, sans-serif;
  line-height: 1.31;
  font-weight: 400;
}

.charBox {
  position: relative;
  background: url(/images/icon/card-3svg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.char2 {
  position: relative;
  left: 50%;
  width: 90%;
  bottom: 2%;
  transform: translate(-50%, 0);
  z-index: 3;
  transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
}

.textAvatar {
  margin-top: 40px;
  color: #ffffff;
  font-size: 13px;
  font-family: 'Manrope', Arial, sans-serif;
  line-height: 1.31;
  font-weight: 400;
}

.section2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 40px;
  padding: 40px
}

.img_box {}

.img_box img {
  width: 100%;
}

.info_box {
  border-radius: 20px;
  background-color: #f8f3ed;
}

/* Общие стили для блока с информацией */
.info_box {
  margin-left: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Стили для каждого аккордеона */
.accordion {
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

/* Кнопка заголовка аккордеона */
.accordion_button {
  width: 100%;
  padding: 27px 50px 27px 0;
  text-align: left;
  border: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: none;

  color: #57576c;
  font-size: 24px;
  line-height: 1.35;
  font-family: 'Parisian', Arial, sans-serif;
  font-weight: 600;
}


/* Стили для контента аккордеона */
.accordion_list {
  padding: 10px;
  list-style-type: decimal;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ddd;
  transition: max-height 0.3s ease-out;
}

.accordion_item {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #333;
}

.accordion_item:last-child {
  border-bottom: none;
}

/* Анимация при открытии и закрытии */
.accordion_list {
  max-height: 0;
  opacity: 0;
  padding: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.accordion.open .accordion_list {
  max-height: none;
  opacity: 1;
  padding: 20px;
}

.btn_save {
  margin-left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
}

@media (max-width: 1280px) {
  .text_block {
    padding: 10px;
  }

  .title {
    margin: 10px 0 10px 0;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 12px;
  }

  .dialog {
    margin-bottom: 5px;
    font-size: 12px;
    padding: 6px;
  }
}

@media (max-width: 769px) {
  .section2 {
    padding: 5px;
  }

  .form {
    width: auto;
    padding: 5px;
  }

  .text {
    font-size: 14px;
  }

  .text p {
    font-size: 12px;
  }

  .section3 {
    height: auto;
    padding: 60px 10px;
  }

  .info {
    grid-template-columns: auto;
    gap: 40px;
    aspect-ratio: auto;
  }

  .title {
    font-size: 12px;
  }

  .card {
    order: 1;
    background: #848bdc;
    border: 2px solid #ffffff;
  }
  .text_block {
    background: #848bdc;
    border: 2px solid #ffffff;
  }

  .text_block1 {
    order: 2;
  }

  .text_block2 {
    order: 3;
  }
  .info {
    background: none;
  }
  .char2 {
    max-width: 300px;
  }

  .title {
    font-size: 12px;
  }
  .text2 {
    font-size: 10px;
  }
  .item {
    font-size: 12px;
  }
  .result {
    font-size: 10px;
  }
  .imgDisvg {
    display: none;
  }
  .disvg {
    margin-left: 0;
  }
  .textDisvg {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #57576c;
    border: 1px solid #ffffff;
    padding: 10px 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .textAvatar {
    margin-top: 0;
    padding-left: 0;
    font-size: 10px;
  }

  .section2 {
    display: block;
  }
  .img_box {
    text-align: center;
  }
  .img_box img{
    max-width: 300px;
  }
}
