.about {
  padding: 50px;
  position: sticky;
  height: 100dvh;
  top: 0;
  background: url(/images/icon/bg2.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.voln {
  background: url(/images/icon/voln2.svg);
  width: 100%;
  height: 12vw;
  position: absolute;
  top: -5px;
  left: 0;
  background-size: cover;
}

.circles_container {
  display: grid;
  grid-template-areas:
    "pos2 pos1 pos3"
    "pos4 pos4 pos4";
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}

.circle {
  border-width: 6px;
  border-radius: 50%;
  background-position: center center;
  border-color: #b4dfff;
  border-style: solid;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease, transform 0.5s ease;
  flex-direction: column;
  position: relative;
}

.circle1 {
  grid-area: pos1;
}

.circle2 {
  grid-area: pos2;
}

.circle3 {
  grid-area: pos3;
}

.circle4 {
  grid-area: pos4;
  width: 350px;
  height: 350px;
}

.pos1,
.pos2,
.pos3,
.pos4 {
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.pos1::before,
.pos2::before,
.pos3::before,
.pos4::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  filter: blur(66px);
}

.text1,
.text2,
.text3,
.text4 {
  color: #5e5da7;
  font-size: 24px;
  font-family: 'Parisian', Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  z-index: 2;
  position: relative;
}

.book {
  width: 50%;
  z-index: 1;
  margin-top: 10px;
}

.btn {
  margin-top: 40px;
  padding: 20px;
}

@media (max-width: 1024px) {
  .circles_container {
    grid-template-areas:
      "pos1"
      "pos2"
      "pos3"
      "pos4";
    gap: 40px;
  }

  .circle {
    width: 250px;
    height: 250px;
  }

  .circle4 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .about {
    overflow-x: hidden;
  }

  .circles_container {
    gap: 30px;
  }

  .circle {
    width: 200px;
    height: 200px;
  }

  .circle4 {
    width: 250px;
    height: 250px;
  }

  .text1,
  .text2,
  .text3,
  .text4 {
    font-size: 18px;
  }
}
