.accordion {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 8px;
}

.header {
  width: 100%;
  background: #f4f4f4;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}



.arrow {
  transition: transform 0.3s ease;
}

.arrowOpen {
  transform: rotate(180deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 16px;
}

.open {
  max-height: 200px;
  padding: 10px 16px;
}
