.accordion {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 8px;
}

.header {
  width: 100%;
  background: #f4f4f4;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.arrow {
  transition: transform 0.3s ease;
}

.arrowOpen {
  transform: rotate(180deg);
}

.content {
  overflow: hidden;
  height: 0;
  padding: 0 16px;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.open {
  padding: 10px 16px;
}
